In [1]:
pip install pandas

Collecting pandas
  Using cached pandas-2.3.3-cp312-cp312-macosx_10_13_x86_64.whl.metadata (91 kB)
Collecting numpy>=1.26.0 (from pandas)
  Using cached numpy-2.3.4-cp312-cp312-macosx_14_0_x86_64.whl.metadata (62 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in ./.venv/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Using cached pytz-2025.2-py2.py3-none-any.whl.metadata (22 kB)
Requirement already satisfied: tzdata>=2022.7 in ./.venv/lib/python3.12/site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in ./.venv/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Using cached pandas-2.3.3-cp312-cp312-macosx_10_13_x86_64.whl (11.6 MB)
Using cached numpy-2.3.4-cp312-cp312-macosx_14_0_x86_64.whl (6.6 MB)
Using cached pytz-2025.2-py2.py3-none-any.whl (509 kB)
Installing collected packages: pytz, numpy, pandas
Successfully installed numpy-2.3.4 pandas-2.3.3 pytz-2025.2

[notice] A new release of pip is available: 25.0.1 -> 25.2
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [5]:
import pandas as pd

In [6]:
#columns I care about
desired_columns = ['PRVDR_NUM', 'STATE_CD', 'PRVDR_CTGRY_CD', 'CITY_NAME', 'ZIP_CD', 'ST_ADR', 'ELGBLTY_SW']
# Read the data
df = pd.read_csv("data/Hospital_and_Other_data_Q2_2025.csv", usecols=desired_columns)

display(df.head())

/var/folders/25/vhn5yn_n27v4mvyt1j_qgcjh0000gn/T/ipykernel_77860/3668852093.py:4: DtypeWarning: Columns (17) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("data/Hospital_and_Other_data_Q2_2025.csv", usecols=desired_columns)

,PRVDR_CTGRY_CD,CITY_NAME,ELGBLTY_SW,PRVDR_NUM,STATE_CD,ST_ADR,ZIP_CD
0,1,DOTHAN,Y,010001,AL,1108 ROSS CLARK CIRCLE,36301.0
1,1,BRIDGEPORT,N,010004,AL,47005 U S HIGHWAY 72,35740.0
2,1,BOAZ,Y,010005,AL,2505 U S HIGHWAY 431 NORTH,35957.0
3,1,FLORENCE,Y,010006,AL,1701 VETERANS DRIVE,35630.0
4,1,OPP,Y,010007,AL,702 N MAIN ST,36467.0