### CMS Data Notebook

In [7]:
import pandas as pd

In [6]:
#columns I care about
desired_columns = ['PRVDR_NUM', 'STATE_CD', 'PRVDR_CTGRY_CD', 'CITY_NAME', 'ZIP_CD', 'ST_ADR', 'ELGBLTY_SW']
# Read the data
df = pd.read_csv("data/Hospital_and_Other_data_Q2_2025.csv", usecols=desired_columns)

display(df.head())

/var/folders/25/vhn5yn_n27v4mvyt1j_qgcjh0000gn/T/ipykernel_77860/3668852093.py:4: DtypeWarning: Columns (17) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("data/Hospital_and_Other_data_Q2_2025.csv", usecols=desired_columns)

,PRVDR_CTGRY_CD,CITY_NAME,ELGBLTY_SW,PRVDR_NUM,STATE_CD,ST_ADR,ZIP_CD
0,1,DOTHAN,Y,010001,AL,1108 ROSS CLARK CIRCLE,36301.0
1,1,BRIDGEPORT,N,010004,AL,47005 U S HIGHWAY 72,35740.0
2,1,BOAZ,Y,010005,AL,2505 U S HIGHWAY 431 NORTH,35957.0
3,1,FLORENCE,Y,010006,AL,1701 VETERANS DRIVE,35630.0
4,1,OPP,Y,010007,AL,702 N MAIN ST,36467.0